.container{
  height: 40px;
  width: 100%;
  background-color: #1B1A55;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px;
  top: 0;
  position: fixed;
}
.container h4{
  margin-left: 10px;
}