.container{
  width: 100%;
}

.container h1{
  margin-left: 40px;
  margin-top: 20px;
}
.formContainer{
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  margin-top: 4vh;
}
.imgContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -110px;
}
.form img{
  height: 170px;
  
}

.form{
  /* background-color: #535C91; */
  background-color: #1B1A55;
  width: 450px;
  border-radius: 10px;
  padding: 10px;
  border-top: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form p{
  font-size: 1.3rem;
  font-weight: 400;
  /* margin-top: 0px; */
}
.form input{
  width: 300px;
  height: 25px;
  outline: none;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 1rem;
  margin-top: -30px;
}
.inputTask{
  margin-top: -30px;
}
.btnSection{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.calendar{
  background-color: white;
  width: 300px;
  /* position: absolute; */
  border-radius: 10px;
  color: black;
  height: 40px;
  /* padding-top: 10px; */
}
.priority{
  display: flex;
  justify-content: space-between;
  width: 300px;
}