.container{
  width: 250px;
  height: 100vh;
  background-color: #535C91;
  display: grid;
  margin-top: 10px;
  
}
.liContainer{
  width: 100%;
  margin: 0;
}
.liItem{
  display: flex;
  justify-content: center;
  margin: 5px;
  background-color: #9290C3;
  cursor: pointer;
  font-weight: bold;
}

.liItem:hover{
  background-color: #f9fafb33;
}